.homepage {
    background-color: #EBFFEB;
    padding: 20px;
    box-sizing: border-box;
}

.homepagenavbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.homepagenavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.homepagenavbar ul li {
    display: inline-block;
    margin-right: 20px;
}

.homepagenavbar ul li:last-child {
    margin-right: 0;
}

.homepagenavbar ul li a {
    text-decoration: none;
    color: #000000CC;
    font-weight: bold;
    gap: 34px;
}

.hpnavbar-btn button {
    text-align: center;
    background-color: #0941D1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.hpnavbar-btn:hover {
    background-color: #0941D1;
}

.homepage-section {
    position: absolute;
    top: 250px;
    left: 180px;
    font-size: 20px;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    gap: 10px;
}

.homepage-section1 {
    position: absolute;
    top: 450px;
    left: 180px;
    font-size: 12px;
}

.homepage-section2 {
    position: absolute;
    top: 450px;
    left: 470px;
    font-size: 12px;
}

.homepage-section3 {
    position: absolute;
    top: 550px;
    left: 180px;
    font-size: 12px;
}

.homepage-section4 {
    position: absolute;
    top: 550px;
    left: 470px;
    font-size: 12px;
}

.section-btn1 {
    text-align: center;
    background-color: #0941D1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    left: 180px;
    top: 695px;
}

#hpimg3{
    position: absolute;
    left :-30px;
}

#hpimg4{
    position: absolute;
    left :-30px;
}
#hpimg5{
    position: absolute;
    left :-30px;
}
#hpimg6{
    position: absolute;
    left :-30px;
}


#hpimg2 {
    width: 450px;
    height: 700px;
    top: 50px;
    left: 690px;
    position: absolute;
}

#hpimg7 {
    width: 490px;
    height: 96px;
    top: 650px;
    left: 690px;
    gap: 10px;
    position: absolute;
}
.ellipse {
    background-color: #0941D1;
    width: 280px;
    height: 280px;
    top: 110px;
    left: 790px;
    border-radius: 200px;
    position: absolute;
}

.homepage-section5 {
    position: absolute;
    top: 835px;
    left: 400px;
    color: #592B87;
    background-clip: text;
    text-align: center;
}
.homepage-card1 {
    box-shadow: 4px 8px 15px 0px #00000026;
    background: #FFFFFF;
    width: 350px;
    height: 350px;
    top: 990px;
    left: 30px;
    position: absolute;
}
.homepage-card1 h4 {
    padding: 3rem 2rem 1rem 2rem;
    margin-bottom: 1rem;
}

.homepage-card1 .text {
    padding: 1rem 2rem 0;
    padding-bottom: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#hpimg5{
    position: absolute;
    left:30px;
}
.homepage-card2 {
    box-shadow: 4px 8px 15px 0px #00000026;
    background: #FFFFFF;
    width: 350px;
    height: 350px;
    top: 990px;
    left: 405px;
    position: absolute;
}

.homepage-card2 h4 {
    padding: 3rem 2rem 1rem 2rem;
    margin-bottom: 1rem;
}

.homepage-card2 .text {
    padding: 1rem 2rem 0;
    padding-bottom: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.homepage-card3 {
    box-shadow: 4px 8px 15px 0px #00000026;
    background: #FFFFFF;
    width: 350px;
    height: 350px;
    top: 990px;
    left: 780px;
    position: absolute;
}

.homepage-card3 h4 {
    padding: 3rem 2rem 1rem 2rem;
    margin-bottom: 1rem;
}
.homepage-card3 .text {
    padding: 1rem 2rem 0;
    padding-bottom: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.homepage-section6 {
    position: absolute;
    top: 1500px;
    left: 50px;
    color: #592B87;
    background-clip: text;
}

.homepage-section7 {
    position: absolute;
    top: 1690px;
    left: 50px;
}

.sub7 {
    padding: 1rem 2rem;
    padding-bottom: 0;
}

#sub7 {
    position: absolute;
    top: 16px;
    left: 3px;
    width: 15px;
    height: 15px;
}

#sub8 {
    position: absolute;
    top: 55px;
    left: 3px;
    width: 15px;
    height: 15px;
}

.hp-section7 button {
    text-align: center;
    background-color: #0941D1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 1830px;
    left: 50px;
}
.hp-section7 button:hover {
    background-color: #0941D1;
}


#hpimg12 {
    width: 400px;
    height: 520px;
    position: absolute;
    top:1430px;
    left: 690px;

}

.rectangle {
    background-color: #0941D1;
    width: 180px;
    height: 180px;
    position: absolute;
    top:1450px;
    left: 800px;
    border-radius: 200px;
}
.homepage-section8 {
    text-align: center;
    position: absolute;
    top: 2110px;
    left: 270px;
}

.homepage-section8 h3 {
    color: #00000099;
}
.homepage-card4 {
    box-shadow: 4px 8px 15px 0px #00000026;
    background: #FFFFFF;
    width: 350px;
    height: 350px;
    position: absolute;
    top: 2400px;
    left: 30px;
    padding: 1rem 2rem 0;
    padding-bottom: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#hpimg9 {
    width: 306px;
    height: 236px;
}
.homepage-card4 p {
    font-size: 10px;
    color: #00000099;
}

.homepage-card5 {
    box-shadow: 4px 8px 15px 0px #00000026;
    background: #FFFFFF;
    width: 350px;
    height: 350px;
    position: absolute;
    top: 2400px;
    left: 405px;
    padding: 1rem 2rem 0;
    padding-bottom: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#hpimg10 {
    width: 260px;
    height: 230px;
}

.homepage-card5 p {
    font-size: 10px;
    color: #00000099;
}

.homepage-card6 {
    box-shadow: 4px 8px 15px 0px #00000026;
    background: #FFFFFF;
    width: 350px;
    height: 350px;
    position: absolute;
    top: 2400px;
    left: 780px;
    padding: 1rem 2rem 0;
    padding-bottom: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#hpimg11 {
    width: 300px;
    height: 236px;
}

.homepage-card6 p {
    font-size: 10px;
    color: #00000099;
}

.hp-sub8 button {
    text-align: center;
    background-color: #9C0AE1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
}

.hp-sub8 button:hover {
    background-color: #9C0AE1;
}

.sub9 {
    position: absolute;
    left: 240px;
    top: 320px;
}

.sub10 {
    position: absolute;
    left: 240px;
    top: 320px;
}

.sub11 {
    position: absolute;
    top:320px;
    left: 240px;
}

#hpimg16 {
    width: 15px;
    height: 15px;
}

.homepage-section9 {
    background-color: #fff;
    position: absolute;
    top: 3000px;
    left: 1px;
    height: 569px;
    width:1208px;
    
}

.homepage-section9 h3 {
    text-align: center;
    padding: 2rem;
}

.homepage-section9 h4 {
    position: absolute;
    top: 270px;
    left: 30px;
}

.sub12 {
    position: absolute;
    top: 300px;
    left: 30px;
    font-size: 10px;
}



.sup12 {
    position: absolute;
    top: 300px;
    left: 250px;
}

.sup13 {
    position: absolute;
    top: 300px;
    left: 250px;
}

.sup14 {
    position: absolute;
    top: 300px;
    left: 250px;
}

.homepage-card7 {
    padding: 1rem 2rem 0;
    padding-bottom: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-shadow: 4px 8px 15px 0px #00000026;
    background: #FFFFFF;
    width: 350px;
    height: 350px;
    position: absolute;
    left: 30px;
}

.homepage-card8 {
    padding: 1rem 2rem 0;
    padding-bottom: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-shadow: 4px 8px 15px 0px #00000026;
    background: #FFFFFF;
    width: 350px;
    height: 350px;
    position: absolute;
    left: 412px;
}

.homepage-card9 {
    padding: 1rem 2rem 0;
    padding-bottom: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-shadow: 4px 8px 15px 0px #00000026;
    background: #FFFFFF;
    width: 350px;
    height: 350px;
    position: absolute;
    left: 800px;
}

#hpimg17 {
    border: 10px;
    box-shadow: 8px 10px 15px 0px #00000026;
    border-radius: 12px;
    position: absolute;
    top: 530px;
    left: 600px;
}

#hpimg18 {
    border: 10px;
    box-shadow: 8px 10px 15px 0px #00000026;
    border-radius: 12px;
    position: absolute;
    top: 530px;
    left: 660px;
}

.homepage-section10 {
    text-align: center;
    position: absolute;
    top: 3700px;
    left:360px;
}

.hp-section10 button {
    text-align: center;
    background-color: #0941D1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left:170px;
}

.hp-section10 button :hover {
    background-color: #0941D1;
}

.homepage-footer {
    background-color: #fff;
    position: absolute;
    top: 3900px;
    width:1208px;
    left:1px;
}

footer p {
    color: #00000080;
}

#hpfooter1 {
    padding: 2rem;
}

.homepage-footer1 {
    padding: 2rem 2rem;
}

#hpimg19 {
    padding: 2rem 1rem;
}

#hpimg20 {
    padding: 2rem 1rem;
}

#hpimg21 {
    padding: 2rem 1rem;
}

.homepage-footer2 {
    position: absolute;
    top: 10px;
    left: 400px;
}

.hpfooter2 {
    cursor: pointer;
}

.homepage-footer3 {
    position: absolute;
    top: 10px;
    left: 700px;
}

.homepage-footer4 {
    position: absolute;
    top: 10px;
    left: 900px;
}

.footer-input {
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 5px;
}

.footer-btn button {
    text-align: center;
    background-color: #0941D1;
    color: #fff;
    border: none;
    padding: 10px 30px;
    font-size: 14px;
    position: absolute;
    left: 50px;
    font-size: 12px;
    cursor: pointer;
}

.footer-btn button:hover {
    background-color: #0941D1;
}

.hp-footer4 hr{
    position: absolute;
    top: 370px;
    width:1208px;
}

.hp-footer4 p{
    position: absolute;
    top: 385px;
    text-align: center;
    font-weight:bold;
    font-size:15px;
}

